@import '../../../sass/colors';
@import '../../../sass/mixins/flexbox';
@import '../../../sass/mixins/transition';

#nav-brand {
  @include transition(0.2s);
  @include flex;
  @include align-items(center);
  cursor: pointer;
  color: $wow-gold;
  font-size: 24px;
  height: 100%;
  padding: 0px 20px;
  text-decoration: none;

  &:hover {
    background-color: $black-opaque-70;
    color: $wow-gold-hover;
  }

  &:active {
    background-color: $black-opaque-100;
    color: $wow-gold-active;
  }
}
