@import '../../sass/app-responsive';
@import '../../sass/colors';
@import '../../sass/mixins/flexbox';
@import '../../sass/mixins/transition';

.grid-wrapper {
  @include flex;
  @include flex-wrap(wrap);
  width: 100%;
}

.grid-item {
  @include transition(0.2s);
  @include flex;
  min-height: 32vh;

  &:hover {
    background-color: $white-opaque-10;
  }

  &.centered {
    @include align-items(center);
    @include justify-center;
  }

  &.full {
    width: 100%;
  }

  &.half {
    width: 50%;

    @include respond-to-breakpoint(1060px) {
      width: 100%;
    }
  }

  &.quarter {
    width: 25%;

    @include respond-to-breakpoint(1060px) {
      width: 100%;
    }
  }
}
