@import '../../sass/colors';
@import '../../sass/mixins/box-shadow';
@import '../../sass/mixins/flexbox';
@import '../../sass/mixins/transition';

#character-page {
  // @include box-shadow-inset(0px, 0px, 10px, 4px, $black-opaque-70);
  z-index: -1;
}

.cp_character-search {
  @include flex;
}

.cp_header-text {
  color: $wow-gold;
}

.cp_no-character-prompt {
  @include flex;
  @include align-items(center);
  @include justify-center;
  color: $wow-gold;
  height: calc(100vh - 120px);
  width: 100%;
}
