@import '../../../sass/colors';
@import '../../../sass/mixins/flexbox';
@import '../../../sass/mixins/transition';

.item-level-row {
  @include flex;
  width: 100%;
}

.item-level-wrapper {
  @include flex;
  @include flex-column;
  @include align-items(center);
  @include justify-center;
  height: 100px;
  width: 50%;
  text-shadow: 2px 2px 4px #000000;

  & > h1 {
    margin: 0;

    &.poor {
      color: $wow-poor;
    }

    &.common {
      color: $wow-common;
    }

    &.uncommon {
      color: $wow-uncommon;
    }

    &.rare {
      color: $wow-rare;
    }

    &.epic {
      color: $wow-epic;
    }

    &.legendary {
      color: $wow-legendary;
    }

    &.artifact {
      color: $wow-artifact;
    }
  }
}

.item-level-label {
  color: $wow-gold;
}
