@import '../../sass/app-dimensions';
@import '../../sass/colors';
@import '../../sass/mixins/flexbox';
@import '../../sass/mixins/transition';

#feature-sidebar {
  background-color: $ne-purple-3;
  height: calc(100vh - #{$navigation-height});
  position: fixed;
  top: $navigation-height;
  width: $feature-sidebar-width;

  & > ul {
    @include flex;
    @include flex-column;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $white;
  }

  & > ul > li {
    @include flex;
    @include align-items(center);
    @include justify-center;
    @include transition(0.1s);
    cursor: pointer;
    height: $feature-sidebar-width;

    &:hover {
      background-color: $black-opaque-70;
      color: $azerite-blue-50;
    }

    &.selected {
      background-color: $black-opaque-50;
      color: $wow-gold;
    }

    &:active {
      background-color: $black-opaque-100;
      color: $azerite-blue-600 !important;
    }

    & > a > label {
      cursor: pointer;
    }
  }
}

.feature-link {
  @include flex;
  @include align-items(center);
  @include justify-center;
  @include transition(0.2s);
  width: 100%;
  height: 100%;
}
