@import '../../sass/app-dimensions';
@import '../../sass/colors';
@import '../../sass/mixins/flexbox';
@import '../../sass/mixins/transition';

#content-panel {
  background-color: $azerite-blue-700;
  height: calc(100vh - #{$navigation-height});
  margin-left: $feature-sidebar-width;
  overflow-y: scroll;
  top: $navigation-height;
  z-index: -1;
}
