@import '../../sass/app-dimensions';
@import '../../sass/colors';
@import '../../sass/mixins/flexbox';

nav {
  @include flex;
  @include align-items(center);
  @include justify-between;
  background-color: $ne-gray-1-dark;
  height: $navigation-height;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  height: 100%;
}
