@import '../../../sass/app-dimensions';
@import '../../../sass/colors';
@import '../../../sass/mixins/box-shadow';
@import '../../../sass/mixins/flexbox';

#character-header {
  @include flex;
  @include justify-between;
  background-color: $azerite-blue-500;
  height: $navigation-height;
  padding: 0px 20px;
  // border-bottom: 1px solid $black-opaque-80;
}

.ch_container {
  @include flex;
  @include align-items(center);

  height: 100%;
  width: 100%;

  &.left {
    padding-right: 10px;
  }

  &.right {
    @include justify-end;
    padding-left: 10px;
  }
}
