@import './sass/colors';
@import './sass/mixins/flexbox';

.content-block {
  @include flex;
  height: 400px;
  margin: 2px 0;

  &.centered {
    @include align-items(center);
    @include justify-center;
  }

  &.eggshell {
    background-color: $gray-200;
  }
  &.warmgray {
    background-color: $gray-300;
  }
}